<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ArkDatabase" connectionString="metadata=res://*/ArkEntiteter.csdl|res://*/ArkEntiteter.ssdl|res://*/ArkEntiteter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql21.unoeuro.com;user id=arbejdernes_dk;persist security info=True;password=InriggerScullerKajak;database=arbejdernesroklub_dk_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>